body {
    color: #666666;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-sm {
    max-width: 360px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo_gr {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

.logo_gr img {
    width: 250px;
}

.logo_ch {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

.logo_ch img {
    width: 140px;
}

section {
    padding-top: 20px;
    align-items: center;
    justify-content: center;
}

section h3 {
    text-align: center;
}

.botonTirar {
    margin-top: 10px;
}

.botonTirar button {
    width: 100%;
}

/*carousel*/
.carousel-item img {
    width: 180px;
    margin: auto;
    border-radius: 20px;
    border: #666666 solid 2px;
}

.corousel-desc {
    text-align: center;
    padding-top: 20px;
}

.botonera {
    position: fixed;
    bottom: 10px;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.botonera button {
    margin: 5px;
    width: 150px;
}

.carousel-indicators {
    position: fixed;
    margin-bottom: 85px;
}

.carousel-indicators [data-bs-target] {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: #8B83F2;
}

.carousel-control-prev-icon {
    background-image: url(../img/prev.svg)
}

.carousel-control-next-icon {
    background-image: url(../img/next.svg)
}


.carousel-control-next,
.carousel-control-prev {
    position: fixed;
    bottom: 240px;
    opacity: 1;
}

.resumen div,
#resultado {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resumen,
#resultado {
    padding-bottom: 30px;
}

.resumen img {
    width: 90px;
    border-radius: 10px;
    border: #666666 solid 2px;
}

#resultado img {
    width: 140px;
}


/*Prueba*/
.prueba {
    background-color: rgba(255, 0, 0, 50%);
    z-index: 999999;
    position: absolute;
}


/*animacion*/
.animacion {
    position: absolute;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right top, #F4D271, #BDE085, #6EDDE5, #8B83F2, #EF9AC0);
}

@keyframes ldio-wctmgkkgxa {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

.ldio-wctmgkkgxa div {
    box-sizing: border-box !important
}

.ldio-wctmgkkgxa>div {
    position: absolute;
    width: 144px;
    height: 144px;
    top: 28px;
    left: 28px;
    border-radius: 50%;
    border: 16px solid #000;
    border-color: #ffffff transparent #ffffff transparent;
    animation: ldio-wctmgkkgxa 2.4390243902439024s linear infinite;
}

.ldio-wctmgkkgxa>div:nth-child(2) {
    border-color: transparent
}

.ldio-wctmgkkgxa>div:nth-child(2) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}

.ldio-wctmgkkgxa>div:nth-child(2) div:before,
.ldio-wctmgkkgxa>div:nth-child(2) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: -16px;
    left: 48px;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0 128px 0 0 #ffffff;
}

.ldio-wctmgkkgxa>div:nth-child(2) div:after {
    left: -16px;
    top: 48px;
    box-shadow: 128px 0 0 0 #ffffff;
}

.loadingio-spinner-dual-ring-inaavs9yg3c {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
}

.ldio-wctmgkkgxa {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-wctmgkkgxa div {
    box-sizing: content-box;
}

/* generated by https://loading.io/ */